<div class="container-fluid container-box">
  <header></header>
  <main>
    <section class="hero">
      <div class="banner"></div>
      <h1>Recipe Book</h1>
      <!-- <img src="assets/pexels-moe-magners-6668918.jpg" style="height: 200px;" alt="A delicious chocolate cake" /> -->
      <h2>Find the perfect recipe for your next meal...</h2>
      <a routerLink="body/recipes" class="btn btn-primary">Browse Recipes</a>
    </section>
    <section>

      <div class="hero-text">
        <p>
          With our recipe app, you can search for recipes by category, cuisine, or
          ingredient. We have a wide variety of recipes to choose from, so you're
          sure to find something you'll love.
        </p>
      </div>
    </section>
  </main>
  <footer></footer>
</div>